*{
    margin: 0;
    padding: 0;
    
}

h1{
    font-size: 50px;
    font-family: "Audiowide", sans-serif;
}
h3{
  font-size: 40px;
    padding: 30px;
    font-family: "Audiowide", sans-serif;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 400px;
  }
body{
    margin-left: 34%;
    margin-top: 5%;
  background: linear-gradient(rgb(137, 211, 235),rgb(119, 97, 220));
    width: 5000px;
    height: 1000px;
    overflow: hidden;
}
